!!! 5
//Created by ekaradon on 26/04/15.
- load staticfiles
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Demihi
	body
		block content
